body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir"
}
h2 {
    color: #fff;
    text-align: center;
    background: #4286f4;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 30px 0;
}
h2 span {
    padding: 20px 0;
    display: block;
    font-size: 2em;
}

.stripe {
    height: 50px;
    background: #fff;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: inherit;
    color: #4286f4;
    font-weight: 700;
    letter-spacing: 1.1;
}
.message {
    display: inline-block;
    width: 15%;
}
button {
    border: none;
    background: none;
    text-transform: capitalize;
    height: 100%;
    color: #4286f4;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    outline: none;
    cursor: pointer;
}
button:hover {
    color: #fff;
    background: #4286f4;
}
.container {
    margin: 20px auto;
    max-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 30px;
    -webkit-transition: background 1s;
    transition: background 1s;
    cursor: pointer;
}
.chancesContainer {
  padding: 20px 0;
  margin-top: 50px;
}
.chancesContainer p {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.ez {
    display: none;
}
.selected {
    background: #4286f4;
    color: #fff;
}
